<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    
    <id>http://pycon.tw/2012/feed/general/</id>
    
    <title>PyCon Taiwan 2012 Blog: General</title>
    
    <link rel="alternate" type="text/html" href="http://pycon.tw/2012/blog/" />
    <link rel="self" type="application/atom+xml" href="http://pycon.tw/2012/feed/general/" />
    
    <updated>2012-05-14T08:30:59Z</updated>
    
    
        <entry xml:base="http://pycon.tw/">
    <id>http://pycon.tw/2012/blog/2012/05/14/python/</id>
    <title>三年前，你 Python 了嗎？</title>
    <link rel="alternate" type="text/html" href="http://pycon.tw/2012/blog/2012/05/14/python/"/>
    
    <updated>2012-05-14T11:01:16Z</updated>
    <published>2012-05-14T08:30:59Z</published>
    
    <author>
         <name></name>
    </author>
    
    <summary type="xhtml">
        <div xmlns="http://www.w3.org/1999/xhtml">
            <p>2008 年的你，受到了什麼啟發了呢？</p>
        </div>
    </summary>
    
    <content type="xhtml" xml:lang="en">
        <div xmlns="http://www.w3.org/1999/xhtml">
            <p>2008 年的你，受到了什麼啟發了呢？</p>
            <p><br/><br/><a href="http://www.flickr.com/photos/cayusa/981372736/"><img src="http://farm2.staticflickr.com/1288/981372736_74e2d99d8f_m.jpg"/></a>
<br/><br/>
台灣 Python 年會早鳥售票在前陣子告了一個段落。當辛勤的工作人員彙整資料時發現了一個有趣現象 — 這三年開始使用 Python 的早鳥們竟然超過了六成！</p>
<img src="http://i.imgur.com/lQvlA.png"/>

<p>究竟是什麼原因，讓這麼多早鳥們開始學習 Python 呢？或許我們可以從 2008 年 Python 圈所發生的大事來一窺這成因的原貌：
<br/><br/>
 <img src="http://i.imgur.com/IDw55.png"/>
<br/><br/>
 首先，運行 Python 的 Google App Engine (GAE) 雲端運算平台在 2008 年四月份的時候開始供開發者使用，在當年可是相當轟動的事件，畢竟當年 Google 打著寫 Web Apps 不需要維護作業系統、不須自行架設資料庫以及不須為了提高負載而新增伺服器的名號吸引了許多開發者的關注。在剛開始僅支援 Python 的時期，也讓許多開發者因此開始學習 Python，想必這是 2008 年非常值得一提的大事件。
<br/><br/>
<img src="http://i.imgur.com/XknMC.png" width="200"/>
<br/><br/>
另外一個超級大事件則是 Python 3 的發行。Python 3 的發行為這個程式語言做了許多變更，對廣大的開發者們最大的兩個改變，就是 print 語法以及原生 Unicode 支援。</p>
<p>print 從以往的 statement 改為 function 了，使用 function 表現 print 語法比起 statement 更加合理、更方便的替換分隔字元 (separate characters) 以及使用 &gt;&gt;stream 的方式指定輸出。原生 Unicode 的支援讓開發者擺脫了 Python 2.x 系列一往以來的 ASCII 惡夢，以往常遇到的多國語言與各國字元的問題終於得到解決。</p>
<p>加上許多大大小小的變更，使得 Python 更為洗練。而也是因為做了這樣巨大的變更，許多基於 Python 2.x 的模組與函式庫與 Python 3 並不相容，造成許多爭執與討論，一度在當年造成話題。也或許因為一個全新版本的程式語言，讓開發者覺得是個好的切入點，進而加入的原因。</p>
<p>當然，我更相信在 2008 年時，有個 Python 傳教士每天在你耳邊大肆宣揚 Python 的好處，讓你不得已只得試試看這個對你來說全新的程式語言（笑）。
<br/><br/><br/><br/>
各位開發者開始使用 Python，究竟是命運的糾結，抑或是另有隱情，真相到底是什麼？讓我們繼續看下去。</p>
        </div>
    </content>
</entry>
    
        <entry xml:base="http://pycon.tw/">
    <id>http://pycon.tw/2012/blog/2012/02/28/pythonites-roll-out/</id>
    <title>Pythonites Roll out</title>
    <link rel="alternate" type="text/html" href="http://pycon.tw/2012/blog/2012/02/28/pythonites-roll-out/"/>
    
    <updated>2012-02-28T16:15:38Z</updated>
    <published>2012-02-28T16:15:38Z</published>
    
    <author>
         <name></name>
    </author>
    
    <summary type="xhtml">
        <div xmlns="http://www.w3.org/1999/xhtml">
            <p><a href="http://tw.pycon.org/2012/">PyCon Taiwan 2012</a> will be held on June 9th and
10th at the <a href="http://tw.pycon.org/2012/venue/">Building of Humanity and Social
Sciences</a>.</p>
        </div>
    </summary>
    
    <content type="xhtml" xml:lang="en">
        <div xmlns="http://www.w3.org/1999/xhtml">
            <p><a href="http://tw.pycon.org/2012/">PyCon Taiwan 2012</a> will be held on June 9th and
10th at the <a href="http://tw.pycon.org/2012/venue/">Building of Humanity and Social
Sciences</a>.</p>
            <p>Taiwan Python community now have the official <a href="http://tw.pycon.org/">PyCon
Taiwan</a>, after the PyCTW in 2008 and 2011, which is
organized by <a href="http://heaven.branda.to/~thinker/GinGin_CGI.py">thinker</a>.  We
will make a full-featured conference specific to Python.  Everyone who is
using, will be using, and has been using Python can join us to embrace the
beauty of Python.</p>
<p>We are <a href="http://tw.pycon.org/2012/program/">soliciting talk proposals</a>.  There
is a wide range of topics accepted by PyCon Taiwan 2012.  There is nothing that
Python cannot do.  Just send your proposal to us.  Call for proposal will be
closing in April.  Don't be late!  The talks can be in Chinese (Mandarin) or
English.</p>
<p>We need more volunteers too!  Although it's the first PyCon Taiwan, we believe
there will be so many people come to join us.  The more staff members the
better.  We want the quality of the conference to be as good as that of Python
code.</p>
<p>Taiwan Pythonites roll out!  PyCon Taiwan will follow the
<a href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/">everybody-pays</a> rule
of PyCon US.  The chairperson of the PyCon Taiwan Operation Committee,
speakers, enthusiastic staff members, and everyone coming to the conference pay
for their registration.</p>
<p>Should you have any question, don't hesitate to ask us at organizers@pycon.tw.
Mark June 9th and 10th on your calendar for PyCon Taiwan now!</p>
        </div>
    </content>
</entry>
    
        <entry xml:base="http://pycon.tw/">
    <id>http://pycon.tw/2012/blog/2012/02/28/pythonites-roll-out-zh/</id>
    <title>馭蟒人出列</title>
    <link rel="alternate" type="text/html" href="http://pycon.tw/2012/blog/2012/02/28/pythonites-roll-out-zh/"/>
    
    <updated>2012-02-28T16:23:18Z</updated>
    <published>2012-02-28T16:15:26Z</published>
    
    <author>
         <name></name>
    </author>
    
    <summary type="xhtml">
        <div xmlns="http://www.w3.org/1999/xhtml">
            <p><a href="http://tw.pycon.org/2012/&gt;">PyCon Taiwan 2012</a> 將於民國一百零一年六月九、十日，在<a href="http://tw.pycon.org/2012/venue/&gt;">中央研究院人文社會館</a>舉辦。</p>
        </div>
    </summary>
    
    <content type="xhtml" xml:lang="en">
        <div xmlns="http://www.w3.org/1999/xhtml">
            <p><a href="http://tw.pycon.org/2012/&gt;">PyCon Taiwan 2012</a> 將於民國一百零一年六月九、十日，在<a href="http://tw.pycon.org/2012/venue/&gt;">中央研究院人文社會館</a>舉辦。</p>
            <p>台灣的 Python 社群在 2008 年和 2011 年由 <a href="http://heaven.branda.to/~thinker/GinGin_CGI.py">thinker</a> 主持的 PyCTW 之後，迎來了正式的 <a href="http://tw.pycon.org/">PyCon Taiwan</a>。我們要在台灣辦一個專屬於 Python，規格完整的研討會，讓所有正在用、想要用，以及曾經用過 Python 的人都來享受 Python 之樂！</p>
<p>我們已經開始<a href="http://tw.pycon.org/2012/program/">接受演講提案</a>。會議主題非常廣泛，只要是與 Python 有關的題目，我們都無比歡迎。沒有 Python 做不到的事情，不是嗎？提案的截止日期是四月，請把握時機！演講可以中文或英文進行。</p>
<p>PyCon Taiwan 也需要更多幫手！雖然這是台灣第一次正式舉辦 PyCon，但我們相信會有非常多參加者。我們需要很多會務人員，讓我們能夠保證會議的品質和 Python 程式碼一樣好。</p>
<p>台灣的馭蟒人出列吧！PyCon Taiwan 也會遵照 PyCon US 本店的 <a href="http://jessenoller.com/2011/05/25/pycon-everybody-pays/">Everybody Pays</a> 原則，對每一位參加者收費。不管是籌辦委員會主席的不才在下我、投稿的講者、熱情的會務伙伴，或是單純前來參加會議的人，都會用自己的錢包支持台灣的 Python 社群。人的錢財在哪裡，心也在那裡。Python 和 PyCon Taiwan 是值得我們用心的對象。</p>
<p>有任何疑問，歡迎寫信到 organizers@pycon.tw 來問我們。記得，把六月九、十日留給台灣 Python 年會！</p>
        </div>
    </content>
</entry>
    
</feed>
